/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
/public/plugin/AdminLTE-2.4.5
/resources/AdminLTE-2.4.5
/composer.lock
